---
    import {Card} from './Card.jsx';
    const dataServices=[
        {
            "title": "LANDING PAGE",
            "description": "Una página única, moderna y optimizada para presentar tu negocio o producto de forma efectiva.",
            "priceRange": "USD 50 - 150",
            "features": [
                "Diseño responsive",
                "Optimización de velocidad",
                "Formulario de contacto",
                "SEO básico",
                "Animaciones ligeras",
                "Tu landing page en 5 dias"
            ]
        },
        {
            "title": "SITIO WEB",
            "description": "Un sitio completo y escalable con funcionalidades dinámicas y backend personalizado.",
            "priceRange": "USD 100 - 350",
            "features": [
                "Diseño responsive",
                "SEO intermedio",
                "Panel de administración",
                "Integración con APIs",
                "Autenticación de usuarios",
                "Tu sitio web en 10 dias"
            ]
        },
        {
            "title": "TIENDA ONLINE",
            "description": "Una solución completa para vender productos o servicios en línea con pagos integrados.",
            "priceRange": "USD 250 - 500",
            "features": [
                "Diseño responsive",
                "Pasarela de pagos",
                "Gestión de productos",
                "SEO avanzado",
                "Panel de control completo",
                "Integraciones externas",
                "Tu tienda online en 15 dias"
            ]
        },
        {
            "title": "MANTENIMIENTO",
            "description": "Mantén tu sitio funcionando al 100% con soporte, correcciones y mejoras continuas.",
            "priceRange": "USD 20 - 100",
            "features": [
                "Corrección de errores",
                "Optimización de rendimiento",
                "Soporte técnico",
                "Backups regulares",
                "Actualizaciones técnicas",
                "Mejoras continuas de SEO",
            ]
        }
    ]

---
<section class="services" id="services">
    <h2>Services</h2>
    <div class="services__cards">
        {
            dataServices.map((service)=>(
                <Card title={service.title} description={service.description} price={service.priceRange} features={service.features} />
            ))
        }
    </div>
</section>
<style>
    .services{
        padding:100px 0;
    }
    .services>h2{
        text-align:center;
        font-size:3rem;
        margin-bottom:70px
    }
    .services__cards{
        display:flex;
        align-items:center;
        justify-content:center;
        flex-wrap:wrap;
        gap:20px;
    }
</style>