---
import {SocialCard} from './SocialCard.jsx';
import {mainSocialNetworks} from '../../data/SocialNetworks.jsx'
---
<div class="contactRight">
    <h3>Redes de comunicacion</h3>
    <div class="contactRight__cards">
        {
            mainSocialNetworks.map((item) => (
                <SocialCard
                    name={item.name}
                    info={item.info}
                    icon={item.icon1}
                />
            ))
        }
    </div>
</div>
<style>
    .contactRight{
        width:400px;
        
    }
    .contactRight>h3{
       
    }
    .contactRight__cards{
        display:flex;
        align-items: start;
        flex-direction:column;
        margin:40px 0;
        gap:30px
    }
</style>